.grid-container {
  display: grid;
}
.first {
  grid-column-start: 1;
  text-align: center;
}
.photo {
  text-align: center;
  grid-column-start: 2;
}
body {
  background-color: rgb(253, 254, 243);
}
