.grid-container {
  display: grid;
}
.photo {
  grid-column-start: 1;
}
.other {
  grid-column-start: 2;
}
body {
  background-color: #dee4f0;
}

input {
  padding: 5px;
  width: 400px;
  font-size: 14pt;
}
button {
  padding: 10px;
  background-color: black;
  color: aliceblue;
}
.custom-form,
input {
  text-align: right;
}
.custom-form {
  margin-right: 20px;
}
